/* ---------Variables */

:root{
    --green-color:#7ACC2D;
    --white-color:white;
    --black-color:#393e46;
    --dark-blue-color:#0f4c75;
    --white-blue-color:#bbe1fa;
    
    /* Typography */
    --normal:15px;
    
    /* Spacing */
    --space:10px;
    
    /* Box shadow */
    --box:0 0 2px #C1BCBC;
    
    }
    
    /* ---------Variables */

/* Body */
body {
    background: var(--white-color);
    font-family: 'Asap', sans-serif;
    color: var(--black-color);
    margin: 0px auto;
}


h2 {
    color: var(--black-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    margin: 100px;
    background-color: var(--white-color);    
    justify-content: left;
    text-align: center;
}

/* Header */

.header {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100px;
    margin: 0px 0px;
    flex-wrap: wrap;
    padding: 0%;
    
}

ol,
ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-flex;
}

.header a {
    color: var(--white-color);
    text-decoration: none;
    display: flex;
    padding-right: 50px;
}

.header a:hover{
    color: var(--white-blue-color);
}


.header ol {
    display: flex;
}

.top_header{
    width: 35%;
    background-color: var(--dark-blue-color);
    text-align: center;
    margin-top: 0px;
    height: 100%;
    align-items: center;
    font-size: larger;
}

.container{
    width: 65%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

/* us */

.us{
    background-color: var(--white-color);
    color: var(--black-color);
    height: 500px;
    width: 100%;
}

/* Footer */

.footer .container{
    background-color: #222831;
    color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    margin: 0px;
    flex-wrap: wrap;
    width: auto;
}

.footer a {
    color: #f8f8f8;
    text-decoration: none;
}

.footer a:hover{
    color: var(--white-blue-color);
}

